# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# SQLite database
*.db
*.sqlite3
test_shop.db

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Pytest cache
.pytest_cache/

.env
# Frontend dependencies and build output
online_shop_frontend/node_modules/
online_shop_frontend/.next/
